@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

body {
  font-family: "Urbanist", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

// game#home
.home-container {
  min-height: 100vh;
  padding-bottom: 5vh;
  background: linear-gradient(
    310deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 112, 121, 1) 61%,
    rgba(0, 212, 255, 1) 100%
  );

  .title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: white;
    font-stretch: expanded;
    padding-top: 2vh;
  }

  .description {
    font-size: 2rem;
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px white;
    padding: 2vh 5vw 2vh;
    margin: 2vh auto;
    background-color: rgba(3, 23, 53, 0.5);
    max-width: 1200px;

    p {
      text-align: center;
    }

    img {
      display: block;
      width: 80%;
      margin: 2vh auto;
      height: 500px;
      object-fit: cover;
      object-position: top;
      border-radius: 25px;
    }

    .character-names {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      margin: 3vh auto;
    }
  }

  .btn {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2vh auto 0;
    width: fit-content;
    padding: 2vh 4vw;
    cursor: pointer;
    display: block;

    &:hover {
      background-color: whitesmoke;
    }

    &:active {
      background-color: white;
    }
  }
}

// game#play
.picture-container {
  min-height: 100vh;
  background: linear-gradient(
    310deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 34, 0.6208858543417367) 61%,
    rgba(0, 212, 255, 1) 100%
  );

  .container {
    width: 98%;
    padding-top: 5vh;
    margin: auto;

    img {
      width: 100%;
      max-height: 90vh;
      object-fit: contain;
    }
  }
}
